// .bage-container{
//     display: flex;
//     justify-content: space-between;
//     align-items: center;
//     width: 50%;

    // padding: 2rem 6rem;

    // flex: 1;
    // display: flex;
    // justify-content: flex-start;
    // align-items: center;
// }
.bage-container{

    display:inline-block;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;  
    padding: 85px;
    margin: 0 10px 0 0;
    // float: left;
}

.bage-image-google{
    width: 11.5%;
    background-color: #fff;
    color: #fff;
    margin: 20px;
    float: left;
}

.bage-image-yelp{
    width: 17%;
    background-color: #fff;
    color: #fff;
    margin: 20px;
}
.bage-image-thumb{
    width: 15%;
    background-color: #fff;
    color: #fff;
    margin: 4px;
    float: right;
}