/* Start Landing Page */


.feature-box {
    display:inline-block;
}


.landing-page-bot {
    padding: 95px;
    margin: 20px;
    // position: relative;
    background-color: #FFF;

}


.landing-page-bot .info {
    width: 55%;
    float: left; // this
}

.landing-page-bot .info h1 {
    font-size: 34px;
    line-height: 1.4;
    // color: #5d5d5d;
    // float: right;
}

.landing-page-bot .info p {
    // margin-right: 250px;
    line-height: 1.6;
    font-size: 17px;
    color: #5d5d5d;
    float: right;
}

.landing-page-bot .image {
    width: 30%;
    float: right; //this
}

.landing-page-bot .image img {
    // max-width: 100%;
    width: 100%;
    left: 15.5%;
    right: 15.5%;

}

.clearfix {
  clear: both;
}