/* Start Landing Page */


.feature-box {
    display:inline-block;
}

.landing-page-bot-left {
    padding: 80px;
    margin: 20px;
    // position: relative;
    background-color: #FFF;
}

.landing-page-bot-left .info-left {
    width: 55%;
    float: right; // this
}

.landing-page-bot-left  .info-left h1 {
    font-size: 34px;
    line-height: 1.4;
    // color: #5d5d5d;
    // float: right;
}

.landing-page-bot-left  .info-left p {
    // margin-right: 250px;
    line-height: 1.6;
    font-size: 17px;
    color: #5d5d5d;
    float: right;
}

.landing-page-bot-left .image {
    width: 30%;
    float: left; //this
    // margin-top: 35px;
}

.landing-page-bot-left .image img {
    max-width: 100%;
}

.clearfix {
  clear: both;
}